<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181458265013-8q4o7lf2kfs60tgeul4eigmq082ml2id.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181458265013-8q4o7lf2kfs60tgeul4eigmq082ml2id</string>
	<key>API_KEY</key>
	<string>AIzaSyCu4Ej4rRTL-LigMTxNJiXMhlyE6oo4C10</string>
	<key>GCM_SENDER_ID</key>
	<string>181458265013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kwtd</string>
	<key>PROJECT_ID</key>
	<string>kwtd-16e46</string>
	<key>STORAGE_BUCKET</key>
	<string>kwtd-16e46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181458265013:ios:a16be28d29c522579feffc</string>
</dict>
</plist>